<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>MEMBER SQL</comment>
	<entry key="A">B</entry>
	
	<entry key="findAll">
		SELECT
		       EMP_ID
		     , EMP_NAME
		     , SALARY
		     , DEPT_TITLE
		     , JOB_NAME
		  FROM
		       EMPLOYEE E
		     , JOB J
		     , DEPARTMENT D
		 WHERE
		       E.JOB_CODE = J.JOB_CODE
		   AND
		       E.DEPT_CODE = D.DEPT_ID(+)	
	</entry>
	
	<entry key="findByDept">
		SELECT
		       EMP_ID
		     , EMP_NAME
		     , SALARY
		     , DEPT_TITLE
		     , JOB_NAME
		  FROM
		       EMPLOYEE E
		     , JOB J
		     , DEPARTMENT D
		 WHERE
		       E.JOB_CODE = J.JOB_CODE
		   AND
		       E.DEPT_CODE = D.DEPT_ID(+)
		   AND
		       D.DEPT_TITLE = ?
		 ORDER
		    BY
		       HIRE_DATE DESC
	</entry>
	
	<entry key="findByJob">
		SELECT
		       EMP_ID
		     , EMP_NAME
		     , SALARY
		     , DEPT_TITLE
		     , JOB_NAME
		  FROM
		       EMPLOYEE E
		     , JOB J
		     , DEPARTMENT D
		 WHERE
		       E.JOB_CODE = J.JOB_CODE
		   AND
		       E.DEPT_CODE = D.DEPT_ID(+)
		   AND
		       J.JOB_NAME = ?
		 ORDER
		    BY
		       HIRE_DATE DESC
	</entry>
	
	<entry key="findById">
		SELECT
		       EMP_ID
		     , EMP_NAME
		     , SALARY
		     , DEPT_TITLE
		     , JOB_NAME
		  FROM
		       EMPLOYEE E
		     , JOB J
		     , DEPARTMENT D
		 WHERE
		       E.JOB_CODE = J.JOB_CODE
		   AND
		       E.DEPT_CODE = D.DEPT_ID(+)
		   AND
		       E.EMP_ID = ?;
	</entry>

</properties>
